.controller.custom {
    height: 350px;
    width: 700px;
    /* background-color: red; */
}

.custom .abxy {
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 350px;
}

.custom .button, .custom .bumper, .custom .trigger-button, .custom .face {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    /* background-color: yellow; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom .face:not(.pressed) {
    filter: brightness(50%);
}

.custom .button.pressed, .custom .bumper.pressed, .custom .trigger-button.pressed {
    filter: brightness(175%);
}

.button .a {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_l.png);
    top: 90px;
}

.custom .b {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_m.png);
    top: 75px;
    left: 70px;
}

.custom .x {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_l.png);
    top: 15px;
}

.custom .y {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_m.png);
    left: 70px;
}

.custom .bumper {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 550px;
}

.custom .bumper.left {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/modern_dl.png);
    left: 560px;
    top: 125px;
}

.custom .bumper.right {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_h.png);
    left: 490px;
}

.custom .trigger-button {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 550px;
}

.custom .trigger-button.left {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/modern_dp.png);
    left: 560px;
}

.custom .trigger-button.right {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_h.png);
    left: 490px;
    top: 125px;
}

.custom .dpad {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 50px;
}

.custom .face.up {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/key-u.png);
    top: 90px;
}

.custom .face.left {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/key-l.png);
    top: 75px;
    left: 70px;
}

.custom .face.down {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/key-d.png);
    top: 75px;
    left: 140px;
}

.custom .face.right {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/key-r.png);
    top: 90px;
    left: 210px;
}