.controller.custom {
    height: 558px;
    width: 784px;
    background-color: red;
}

.custom .abxy {
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 50px;
}

.custom .button, .custom .bumper, .custom .trigger-button {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    background-color: yellow;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom .button.pressed, .custom .bumper.pressed, .custom .trigger-button.pressed {
    filter: brightness(150%);
}

.custom .a {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_l.png);
    top: 90px;
}

.custom .b {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_m.png);
    top: 75px;
    left: 75px;
}

.custom .x {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_l.png);
    top: 15px;
}

.custom .y {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_m.png);
    left: 75px;
}

.custom .bumper, .custom .triggers {
    position: absolute;
    width: 50px;
    aspect-ratio: 1/1;
    top: 50px;
    left: 50px;
}

.custom .bumper.left {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/modern_dl.png);
    left: 195px;
    top: 125px;
}

.custom .bumper.right {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_punch_h.png);
    left: 195px;
}

.custom .trigger-button.left {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/modern_dp.png);
    left: 270px;
}

.custom .trigger-button.right {
    background-image: url(https://www.streetfighter.com/6/assets/images/common/controller/icon_kick_h.png);
    left: 270px;
    top: 125px;
}